*{
    margin: 0px;
    padding: 0px;
}
#hero{
    height: 100vh;
    background-image: url(code/Images/d65b19b3-2a72-4c19-b5ee-a63ecb895c29.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#main-nav{
    background-color: transparent;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    position: fixed;
}
.main-title{
    font-size: clamp(1.8rem, 10vw , 4rem);
}
#main-popup1{
    width: 95%;
    margin: 0 auto ;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 325px;
    margin: 0;
    flex: 1 1 300px;
    max-width: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}
.img-box img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: large;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
.img-box,
.text-box {
    flex: 1;
}
.popup{
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    height: 500px;
    margin: 0 auto;
    flex: 1 1 300px;
    max-width: 375px;
    background-color: white;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

}
.cardtitle{
    font-size: clamp(30px, 4vw, 39px);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 90px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
#climate-img{
    height: 90px;
}
#main-nav li:first-child{
    margin-right: auto;
}
.menu_button{
    display: none;
}
#side_nav ul{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#side_nav li{
    width: 100%;
}
#side_nav a{
    width: 100%;
}
#main-nav{
    animation: colorchangestart;
    animation-timeline: view();
}
/*Keyframes*/
@keyframes colorchangestart{
    0%{
        background-color: transparent;
    }
    95%{
        background-color: aqua;
    }
}
@media(max-width: 850px){
    .hideonMobile{
        display: none;
    }
    .menu_button {
        display: block;
    }
}
@media(max-width: 400px){
    #side_nav ul{
        width: 100%;
    }
}
@media(max-width: 500px){
    #main-popup1 {
        height: 1650px;
    }      
}
@media(min-width: 1148px){
    .card {
        animation: big-up 2.5s ease-in-out;
    }
    .cardtitle{
        animation: big-up 2.5s ease-in-out;
    }
    .main-title{
        animation: big-up 1.0s ease-in-out;
    }
    @keyframes big-up{
        0%{
            transform: translateY(20px);
            opacity: 0.3;
        }
        100%{
            transform: translateY(0px);
        }
    }
}
@media(min-width: 758px) {
    #card1, #card2 {
        animation: big-up 1.5s ease-in-out;
    }

    #card-title1, #card-title2 {
        animation: big-up 2.5s ease-in-out;
    }

    .main-title {
        animation: big-up 1.0s ease-in-out;
    }

    @keyframes big-up {
        0% {
            transform: translateY(20px);
            opacity: 0.3;
        }

        100% {
            transform: translateY(0px);
        }
    }
}
@media(max-width: 757px) {

    #card1{
        animation: big-up 2.5s ease-in-out;
    }

    #card-title1{
        animation: big-up 2.5s ease-in-out;
    }

    .main-title {
        animation: big-up 1.0s ease-in-out;
    }

    @keyframes big-up {
        0% {
            transform: translateY(20px);
            opacity: 0.3;
        }

        100% {
            transform: translateY(0px);
        }
    }
}