/*Fonts*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
    width: 100;
}
#title{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    padding: 95px 0 0 195px;
}
#main-nav {
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;

    background-color: rgba(63, 126, 68);

    z-index: 998;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 90px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#climate-img {
    height: 90px;
}

#main-nav li:first-child {
    margin-right: auto;
}

.menu_button {
    display: none;
}

#side_nav ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(63, 126, 68);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
}

#side_nav li {
    width: 100%;
}

#side_nav a {
    width: 100%;
}
/*Media*/
@media(max-width: 850px) {
    .hideonMobile {
        display: none;
    }

    .menu_button {
        display: block;
    }
}

@media(max-width: 400px) {
    #side_nav ul {
        width: 100%;
    }
}