hr.thick-line {
    height: 3px;
    /* Adjust this value for desired thickness */
    background-color: white;
    /* Set a color for visibility */
    border: none;
    /* Remove default border for a clean look */
}
html, body{
    height: 100dvh;
}
body{
    background-color: rgba(63, 126, 68) ;
}
.title{
    color: white;
    font-size: 50px;
    margin: 30px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}