/*Fonts*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 90px;
    background-color: bl;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
html,
body {
    overflow-x: hidden;
    width: 100%;
}
#title-box{
    width: 100%;
    height: auto;
    display: flex;
}
#title{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    width: 50%;
    padding: 0px 30px 0px 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
    margin: 0;
}
#title.show{
    opacity: 1;
    transform: translateY(0)
}
#text-box1{
    font-size: xx-large;
    width: 50%;
    padding: 0 10px 0 0px;
}
#title2-box {
    width: 100%;
    height: auto;
    display: flex;
}

#title2{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    width: 50%;
    padding: 0px 30px 0px 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
    margin: 0;
}

#title2.show {
    opacity: 1;
    transform: translateY(0)
}

#text-box2 {
    font-size: xx-large;
    width: 50%;
    padding: 0 10px 0 0px;
}
#main-nav {
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(63, 126, 68);
    z-index: 998;
    scroll-margin-top: 90px;
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 90px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#climate-img {
    height: 90px;
}

#main-nav li:first-child {
    margin-right: auto;
}

.menu_button {
    display: none;
}

#side_nav ul {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(63, 126, 68);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
}

#side_nav li {
    width: 100%;
}

#side_nav a {
    width: 100%;
}
#findOut-button{
    border: 0cap;
    background-color: white;
    font-size: large;
    text-decoration: none;
}
#findOut-button:hover{
    background-color: silver;
}
.info-box{
    padding: 15px;
}
.sub-title{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(32px, 5vw, 45px);

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.sub-title.show{
    opacity: 1;
    transform: translateY(0)
}
.text-box{
    font-family: 'Courier New', Courier, monospace;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: clamp(19px , 2vw, 22px);
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    padding: 20px 0;
}
.text-box.show{
    opacity: 1;
    transform: translateX(0);
}
button a{
    height: 100%;
    padding: 0cap;
    color: rgba(63, 126, 68);
}
/*Media*/
@media(max-width: 850px) {
    .hideonMobile {
        display: none;
    }

    .menu_button {
        display: block;
    }
}

@media(max-width: 400px) {
    #side_nav ul {
        width: 100%;
    }
}
@media(max-width: 612px) {
    #title-box{
        flex-direction: column;
    }
    #title{
        width: 100%;
    }
    #text-box1{
        width: 100%;
        padding: 0px 20px;
    }
    #title2-box {
        flex-direction: column;
        }
    #title2{
        width: 100%;
    }
    
    #text-box2{
        width: 100%;
        padding: 0px 20px;
    }
}