/*Fonts*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgba(64, 122, 67);
    padding-bottom: 20px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html,
body{
    overflow-x: hidden;
    width: 100%;
}
hr.thick-line {
    height: 3px;
    /* Adjust this value for desired thickness */
    background-color: white;
    /* Set a color for visibility */
    border: none;
    /* Remove default border for a clean look */
    width: 95%;
}
.title-box{
    height: 13vh;
}
.title{
    color: white;
    font-size: 50px;
    margin: 30px 0;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#main-box{
    display: flex;
    height: 87vh;
}
.half-box{
    width: 50%;
}
#SDG-13{
    width: clamp(250px, 100%, 700px);
}
.info{
    color: white;
    font-size: clamp(20px, 3vw ,35px);
    padding: 0 30px;
}
#ContinueButton {
    margin-left: 50px;
    height: 60px;
    width: 160px;

    background-color: white;
    border: 3px solid black;

    padding: 0;
    cursor: pointer;
}

#ContinueButton a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: black;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    text-decoration: none;

    transition: 300ms ease;
}

#ContinueButton:hover {
    background-color: black;
    border: 3px solid black;
}

#ContinueButton:hover a {
    color: white;
}
@media(max-width: 950px){
    #main-box{
        flex-direction: column;
    }
    .half-box{
        width: 100%;
        display: grid;
        place-items: center;
    }
}
@media(max-width: 400px){
    .title{
        font-size: 40px;
    }
}