/*Fonts*/
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100;
}
#hero{
    height: 100vh;
    background-image: url(code/Images/d65b19b3-2a72-4c19-b5ee-a63ecb895c29.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.main-box-text1{
    width: 100%;
    height: auto;
    display: flex;
}
.box-title{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    padding: 10px 2px 2px 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.box-title.show{
    opacity: 1;
    transform: translateY(0)
}
.text-box1{
    width: 50%;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}
.text-box1.show{
    opacity: 1;
    transform: translateX(0);
}
.text-box1 p {
    font-size: 21px;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maintitle-box{
    display: flex;
}
#title_13{
    color: white;
    font-size: clamp(2.8rem, 12vw, 6rem);
}
#main-nav{
    font-size: 16px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;

    background-color: rgba(0, 128, 0, 0);
    backdrop-filter: blur(0px);
    transition: bg-color-changeOne 0.3s ease;

    z-index: 998;
}
#main-nav.scrolled{
   background-color: rgba(63, 126, 68);
}
.main-title{
    font-size: clamp(1.8rem, 10vw , 4rem);
    color: #1B5E20;
}
#main-popup1{
    width: 95%;
    margin: 0 auto ;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 325px;
    margin: 0;
    flex: 1 1 300px;
    max-width: 350px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.card.show{
    opacity: 1;
    transform: translateY(0)
}
.img-box img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: large;
    overflow-wrap: break-word;
    box-sizing: border-box;
}
.img-box,
.text-box {
    flex: 1;
}
.popup{
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    height: 500px;
    margin: 0 auto;
    flex: 1 1 300px;
    max-width: 375px;
    background-color: white;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.cardtitle{
    font-size: clamp(30px, 4vw, 39px);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}

.cardtitle.show{
    opacity: 1;
    transform: translateY(0)
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 90px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
#climate-img{
    height: 90px;
}
#main-nav li:first-child{
    margin-right: auto;
}
.menu_button{
    display: none;
}
#side_nav ul.scrolled{
    background-color: rgba(63, 126, 68);
}
#side_nav ul{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    transition: bg-color-changeOne 0.3s ease;
}
#side_nav li{
    width: 100%;
}
#side_nav a{
    width: 100%;
}
#main-nav{
    animation: colorchangestart;
    animation-timeline: view();
}
#learnMoreTitle{
    margin-left: 30px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 1.2s ease, transform 1.2s ease;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#learnMoreTitle.show{
    opacity: 1;
    transform: translateX(0)
}
#learnMoreButton {
    margin-left: 50px;
    height: 60px;
    width: 160px;

    border: 3px solid rgba(63, 126, 68);
    background-color: white;

    padding: 0;
}

#learnMoreButton a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: black;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    text-decoration: none;

    transition: 300ms ease;
}
#learnMoreButton:hover {
    background-color: black;
    border: 3px solid black;
}

#learnMoreButton:hover a {
    color: white;
}

#ContinueButton {
    margin-left: 50px;
    height: 60px;
    width: 160px;

    background-color: white;
    border: 3px solid rgba(63, 126, 68);

    padding: 0;
    cursor: pointer;
}

#ContinueButton a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    color: black;
    font-family: "Anton", sans-serif;
    font-size: 24px;
    text-decoration: none;

    transition: 300ms ease;
}
#ContinueButton:hover {
    background-color: black;
    border: 3px solid black;
}

#ContinueButton:hover a {
    color: white;
}
/*Media*/
@media(max-width: 850px){
    .hideonMobile{
        display: none;
    }
    .menu_button {
        display: block;
    }
}
@media(max-width: 400px){
    #side_nav ul{
        width: 100%;
    }
}
@media(max-width: 500px){
    #main-popup1 {
        height: 1650px;
    }      
}
@media(max-width: 674px){
    .main-box-text1{
        flex-direction: column;        
    }
    .box-title{
        width: 100%;
        justify-content: center;
    }
    .text-box1{
        width: 100%;
    }
}